<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="library-body">
        <input type="checkbox" id="check">
        <label for="check" class="btn1"><i class="fa-solid fa-bars"></i></label>
        <div class="library-left">
            <div class="library-left-top">
                <a href="/"><i class="fa-solid fa-house"></i></a>
                <label for="check" class="btn2"><i class="fa-solid fa-x"></i></label>
            </div>
            <div class="library-left-bottom">
                <a href="/" id="home-link"><i class="fa-solid fa-house"></i>    <p>Home</p></a>
                <hr>
                <a href="#library-regist"><i class="fa-solid fa-user-plus"></i> <p>Regist</p></a>
                <a href="#library-books"><i class="fa-solid fa-book"></i> <p>Books</p></a>
                <a href="#library-add"><i class="fa-solid fa-download"></i> <p>Import</p></a>
                <a href="#library-users"><i class="fa-solid fa-users"></i> <p>Users</p></a>
            </div>

        </div>
        <div class="library-right">
            <div id="library-books">
                <div class="book-special">
                    <p>ADD BOOK COPY</p>
                    <form action="/addCopy" method="post">
                        <select name="selectBook" id="" required>
                            <option value="">SELECT BOOK</option>
                            <% books.forEach((book) => {%>
                                <option value="<%= book.book_id %>"><%=book.book_name[0].toUpperCase().concat(book.book_name.slice(1,))%></option>
                            <%}) %>
                        </select>
                        <label for="num">Enter number to add</label>
                        <input type="number" name="bookNum" id="num" value="1">
                        <button>ADD</button>
                    </form>
                </div>
                <% if(books.length === 0) {%>
                    <div class="book">
                        <h1>No books in the library... Please import </h1> 
                    </div>
                <% }%>
                <% books.forEach((book) => { %>
                    <a href="/library/book/<%=book.book_id%>">
                        <div class="book">
                            <p><%=book.book_name[0].toUpperCase().concat(book.book_name.slice(1,))%></p>
                            <p><%= book.book_count%> copies</p>
                            <div><i class="fa-solid fa-book-open"></i></div>
                        </div>  
                    </a>     
                <% }) %>

            </div>
            <div id="library-add">
                <h3>ADD BOOK</h3>
                <div class="form1">
                    <input type="text" id="bookname" placeholder="Enter book name...">
                    <button onclick="handleClick()">Search</button>
                </div>

                <div id="mybooks" >Want to import books? Search for book</div>
            </div>
            <div id="library-regist">
                <h3>MEMBERSHIP</h3>
                <form action="/addMember" method="post">
                    <label for="userName">Enter Name</label>
                    <input type="text" id="userName" name="userName">
                    <label for="userEmail">Enter Valid Email</label>
                    <input type="text" name="userEmail">
                    <label for="pwd">Enter password</label>
                    <input type="text" name="pwd">
                    <label for="pwdConfirm">Confirm password</label>
                    <input type="text" name="pwdConfirm">
                    <button>SIGN UP</button>
                </form>
            </div>
            <div id="library-users">
                <h2>MEMBERS</h2>
                <form action="/searchUser" method="post">
                    <input type="text" placeholder="search" name="userid">
                    <button>SEARCH</button>
                </form>
                <div class="library-users-div">
                    <%
                     members.forEach((member) => { %>
                        <a href="/library/user/<%=member.member_id%>">
                                <p><%=member.member_username[0].toUpperCase().concat(member.member_username.slice(1,)) %><i class="fa-solid fa-arrow-right-long"></i></p>
                        </a>     
                    <% }) %>
                </div>

            </div>
        </div>
    </div>

    <script>

        function handleClick() {

            let bookName = document.getElementById('bookname').value;
            let myBook = document.getElementById('mybooks');
            myBook.innerHTML = 'Searching... ensure you are connected to the internet! Also, be patient... wacha ichukue time yake';
            // fetch(`https://openlibrary.org/search.json?q=${bookName}&limit=4`)
            fetch(`https://www.googleapis.com/books/v1/volumes?q=${bookName}&limit=4`)
            .then(response => response.json())
            .then((data) => {
                const booksArray = [];
                console.log(data.items);
                data.items.forEach((book) => {
                    booksArray.push(
                        [`
                            <div>
                                <form action='/addBook' method='post'>
                                <input  hidden type='text' name='bKey' value='${book.id === undefined ? 'key0' : book.id}' />
                                <input  type='text' name='bName' value='${book.volumeInfo.title.replace("'","&lsquo;")}' />
                                <input  type='text' name='author' value='${book.volumeInfo.authors === undefined ? 'no author' : book.volumeInfo.authors}' />
                                <input  hidden type='text' name='lang' value='${book.volumeInfo.language === undefined ? 'no language' : book.volumeInfo.language}' />
                                <input  hidden type='number' name='pages' value='${book.volumeInfo.pageCount === undefined ? 0 : book.volumeInfo.pageCount }' />
                                <input  hidden type='text' name='year' value='${book.volumeInfo.publishedDate  === undefined ? 0 : book.volumeInfo.publishedDate}' />
                                <input  hidden type='text' name='publisher' value='${book.volumeInfo.publisher === undefined ? 'no publisher' : book.volumeInfo.publisher}' />
                                <input  hidden type='text' name='description' value='${book.volumeInfo.description === undefined ? 'no description' : book.volumeInfo.description}' />
                                <input  hidden type='text' name='category' value='${book.volumeInfo.categories === undefined ? 'no categories' : book.volumeInfo.categories}' />
                                <textarea  hidden name='rating' value='${book.volumeInfo.averageRating === undefined ? 3 : book.volumeInfo.averageRating}'></textarea>
                                <button>ADD</button>
                                </form>
                            </div>`
                        ]
                    )
                });
                // console.log(booksArray);
            myBook.innerHTML = booksArray.map((book) => {
                return book;
            }).join('');
            }).catch((err) => {
                console.log(err);
            })
        }

    </script>
</body>
</html>